*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.custom-sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

.custom-pointer-events-none {
  pointer-events: none !important;
}

.custom-absolute {
  position: absolute !important;
}

.custom-relative {
  position: relative !important;
}

.custom-inset-0 {
  inset: 0px !important;
}

.custom-right-3 {
  right: 0.75rem !important;
}

.custom-top-5 {
  top: 1.25rem !important;
}

.custom-bottom-0 {
  bottom: 0px !important;
}

.custom-right-0 {
  right: 0px !important;
}

.custom-z-10 {
  z-index: 10 !important;
}

.custom-m-10 {
  margin: 2.5rem !important;
}

.custom-m-2 {
  margin: 0.5rem !important;
}

.custom-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.custom-mb-2 {
  margin-bottom: 0.5rem !important;
}

.custom-mb-3 {
  margin-bottom: 0.75rem !important;
}

.custom-mb-4 {
  margin-bottom: 1rem !important;
}

.custom-mt-4 {
  margin-top: 1rem !important;
}

.custom-flex {
  display: flex !important;
}

.custom-grid {
  display: grid !important;
}

.custom-hidden {
  display: none !important;
}

.custom-h-10 {
  height: 2.5rem !important;
}

.custom-h-4 {
  height: 1rem !important;
}

.custom-h-auto {
  height: auto !important;
}

.custom-h-16 {
  height: 4rem !important;
}

.custom-h-5 {
  height: 1.25rem !important;
}

.custom-h-3 {
  height: 0.75rem !important;
}

.custom-h-6 {
  height: 1.5rem !important;
}

.custom-w-10 {
  width: 2.5rem !important;
}

.custom-w-4 {
  width: 1rem !important;
}

.custom-w-\[35\%\] {
  width: 35% !important;
}

.custom-w-\[65\%\] {
  width: 65% !important;
}

.custom-w-full {
  width: 100% !important;
}

.custom-w-16 {
  width: 4rem !important;
}

.custom-w-5 {
  width: 1.25rem !important;
}

.custom-w-3 {
  width: 0.75rem !important;
}

.custom-w-6 {
  width: 1.5rem !important;
}

.custom-max-w-md {
  max-width: 28rem !important;
}

.custom-translate-x-1 {
  --tw-translate-x: 0.25rem !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.custom-translate-y-1 {
  --tw-translate-y: 0.25rem !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.custom-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.custom-cursor-pointer {
  cursor: pointer !important;
}

.custom-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.custom-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.custom-flex-col {
  flex-direction: column !important;
}

.custom-items-start {
  align-items: flex-start !important;
}

.custom-items-center {
  align-items: center !important;
}

.custom-justify-center {
  justify-content: center !important;
}

.custom-justify-between {
  justify-content: space-between !important;
}

.custom-gap-1 {
  gap: 0.25rem !important;
}

.custom-gap-2 {
  gap: 0.5rem !important;
}

.custom-gap-3 {
  gap: 0.75rem !important;
}

.custom-gap-4 {
  gap: 1rem !important;
}

.custom-gap-x-5 {
  -moz-column-gap: 1.25rem !important;
       column-gap: 1.25rem !important;
}

.custom-rounded {
  border-radius: 0.25rem !important;
}

.custom-rounded-full {
  border-radius: 9999px !important;
}

.custom-rounded-lg {
  border-radius: 0.5rem !important;
}

.custom-border {
  border-width: 1px !important;
}

.custom-border-2 {
  border-width: 2px !important;
}

.custom-border-4 {
  border-width: 4px !important;
}

.custom-border-gray-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}

.custom-border-gray-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(107 114 128 / var(--tw-border-opacity)) !important;
}

.custom-border-red-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important;
}

.custom-border-transparent {
  border-color: transparent !important;
}

.custom-border-\[solid\] {
  border-color: solid !important;
}

.custom-border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(229 231 235 / var(--tw-border-opacity)) !important;
}

.custom-bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}

.custom-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.custom-bg-green-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity)) !important;
}

.custom-bg-red-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
}

.custom-bg-blue-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity)) !important;
}

.custom-bg-gray-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity)) !important;
}

.custom-bg-gray-300 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity)) !important;
}

.custom-bg-transparent {
  background-color: transparent !important;
}

.custom-bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
}

.custom-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.custom-p-2 {
  padding: 0.5rem !important;
}

.custom-p-4 {
  padding: 1rem !important;
}

.custom-p-5 {
  padding: 1.25rem !important;
}

.custom-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.custom-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.custom-pb-0 {
  padding-bottom: 0px !important;
}

.custom-pt-0 {
  padding-top: 0px !important;
}

.custom-text-center {
  text-align: center !important;
}

.custom-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.custom-text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.custom-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.custom-text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.custom-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.custom-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.custom-font-medium {
  font-weight: 500 !important;
}

.custom-font-bold {
  font-weight: 700 !important;
}

.custom-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.custom-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.custom-accent-black {
  accent-color: #000 !important;
}

.custom-opacity-0 {
  opacity: 0 !important;
}

.custom-outline-none {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.custom-ring-2 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.custom-ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.custom-ring-0 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.custom-ring-blue-500 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity)) !important;
}

.custom-ring-gray-200 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity)) !important;
}

.custom-ring-gray-400 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(156 163 175 / var(--tw-ring-opacity)) !important;
}

.custom-ring-gray-300 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity)) !important;
}

.custom-transition-all {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.custom-duration-200 {
  transition-duration: 200ms !important;
}

/* Import custom font */

@font-face {
  font-family: 'MonopolaScript';

  src: url('https://cdn.shopify.com/s/files/1/0903/9432/9451/files/MonopolaScript-GOmpg.ttf?v=1741675590') format('ttf');

  font-weight: normal;

  font-style: normal;
}

/* Custom background colors */

.custom-bg-white {
  background-color: white !important;
}

.custom-bg-gold {
  background-color: gold !important;
}

.custom-bg-gray {
  background-color: gray !important;
}

.custom-bg-black {
  background-color: black !important;
}

.custom-text-white {
  color: white !important;
}

.custom-text-gold {
  color: gold !important;
}

.custom-text-gray {
  color: gray !important;
}

.custom-font-serif {
  font-family: serif !important;
}

.custom-font-script {
  font-family: 'MonopolaScript', cursive !important;
}

.hover\:custom-border-gray-500:hover {
  --tw-border-opacity: 1 !important;
  border-color: rgb(107 114 128 / var(--tw-border-opacity)) !important;
}

.hover\:custom-shadow-sm:hover {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.focus\:custom-border-0:focus {
  border-width: 0px !important;
}

.focus\:custom-border-gray-300:focus {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}

.focus\:custom-outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.focus\:custom-outline-0:focus {
  outline-width: 0px !important;
}

.focus\:custom-ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-block {
  display: block !important;
}

.custom-peer:checked ~ .peer-checked\:custom-border-gray-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(107 114 128 / var(--tw-border-opacity)) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-border-black {
  --tw-border-opacity: 1 !important;
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-border-transparent {
  border-color: transparent !important;
}

.custom-peer:checked ~ .peer-checked\:custom-border-blue-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(59 130 246 / var(--tw-border-opacity)) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-font-bold {
  font-weight: 700 !important;
}

.custom-peer:checked ~ .peer-checked\:custom-opacity-100 {
  opacity: 1 !important;
}

.custom-peer:checked ~ .peer-checked\:custom-ring-2 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-ring-green-500 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(34 197 94 / var(--tw-ring-opacity)) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-ring-red-500 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity)) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-ring-yellow-500 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(234 179 8 / var(--tw-ring-opacity)) !important;
}

.custom-peer:checked ~ .peer-checked\:custom-ring-gray-500 {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity)) !important;
}

@media (min-width: 868px) {
  .md\:custom-w-\[35\%\] {
    width: 35% !important;
  }

  .md\:custom-w-\[65\%\] {
    width: 65% !important;
  }

  .md\:custom-flex-row {
    flex-direction: row !important;
  }
}